*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

header a{
  margin: 10px;
}
header h3{
  padding-top: 70px;
}
.players {
  padding-top: 15px;
  background-color: black;
  box-shadow:  0px 0px 10px black;
}
#nombre1 {
  font-size: 20px;
  font-family: 'Russo One', sans-serif;
  color: white;
  text-shadow: 0px 0px 15px blue;
}

#nombre2 {
  font-size: 20px;
  font-family: 'Russo One', sans-serif;
  color: white;
  text-shadow: 0px 0px 15px red;
}


.titulo {
  font-family: 'Russo One', sans-serif;
  font-size: 50px;
  color: black;
}



select{
  background-color: black;
  color: white;
  font-family: 'play', sans-serif !important;
  text-align-last: center;
  width: 55px;
  height: 38px;
  border: none;

}
.escenario{
  overflow: hidden;

}
.rapper1{
  position: relative;
  top: -170px;
}
.rapper2{
  position: relative;
  top: -170px;
}

.escenario select{
  margin-top: 20px;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}
.final{
  width: auto;
  height: auto;
  padding-bottom: 20px;
  background-image: linear-gradient(to top, blue , white);
}

.final h2{
  font-size: 20px !important;
}
.final select{

  margin-left: 25px;
  margin-right: 25px;
}
.tecnicas, .flow, .escena{
  margin-top: 5px;
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
  font-family: 'Russo One', sans-serif;
}


#volverMenu {
  margin-top: 20px;
  max-width: 70%;
  margin-bottom: 20px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  font-family: 'Russo One', sans-serif;
}
