*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-fluid{
  overflow: hidden;
}

.rappers{
  overflow: hidden;
  padding: 40px;

}
.r1{
  float: left;
  font-size: 50px;
  font-family: 'Kavoon', cursive;
  color: white;
  text-shadow: 0px 0px 25px blue;
}
.r2{
 float: right;
 font-size: 50px;
 font-family: 'Kavoon', cursive;
 color: white;
 text-shadow: 0px 0px 25px red;
}

.menu {
 position: absolute;
 left: 50%;

 top: 300px;
 transform: translate(-50%, -50%);
}
.menu .tema{
  width: 50vw!important;
  margin-top: 20px;

}

.logo img{
  width: 12vw;
}

.terminarBatalla{
  margin-bottom: 60px;
  max-width: 80%;
  margin-left: 10%;
}
