*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-fluid{
  overflow: hidden;
}

.rappers{
  overflow: hidden;
  padding: 10px;

}
.r1{
  float: left;
  font-size: 25px;
  font-family: 'Russo One', sans-serif;
  color: white;
  text-shadow: 0px 0px 15px blue;
}
.r2{
 float: right;
 font-size: 25px;
 font-family: 'Russo One', sans-serif;
 color: white;
 text-shadow: 0px 0px 15px red;
}

.menu {
 position: absolute;
 left: 50%;
 top: 330px;
 transform: translate(-50%, -50%);
}

.menu a {
  font-family: 'Russo One', sans-serif;
  font-size: 25px;
  color: black;

}
.menu .tema{
  width: 50vw!important;
  margin-top: 20px;

}

.logo img{
  width: 12vw;
}

.terminarBatalla{
  margin-bottom: 10px;
  max-width: 80%;
  margin-left: 10%;

}
.terminarBatalla a{
  color: black;
  font-family: 'Russo One', sans-serif;
  font-size: 25px;

}

.btn-outline-danger:active {
  background-color: green;
}

/* typed.js*/
#typedJS {
  font-family: 'play', sans-serif;
  font-size: 16px;
}


#easyMode, #hardMode, #tematicas,
#personajes, #libre, #deluxe {
  background-color: rgba(145, 145, 145, 0.51);

}
