*{

  box-sizing: border-box;
}

.container-fluid{
  padding-left: 50px !important;
  padding-right: 50px !important;
  padding-top: 30px;
}

h1{

}
h3{
  font-family: 'Russo One', sans-serif;
  font-size: 50px;
  color: black;

}
h4{
  font-family: 'Russo One', sans-serif;
  font-size: 22px !important;

}

.players {
  padding-top: 15px;
  background-color: black;
  box-shadow:  0px 0px 10px black;
}
#player1 {
  font-size: 20px;
  font-family: 'Russo One', sans-serif;
  color: white;
  text-shadow: 0px 0px 15px blue;
}

#player2 {
  font-size: 20px;
  font-family: 'Russo One', sans-serif;
  color: white;
  text-shadow: 0px 0px 15px red;
}


#nuevaBatalla{
  margin-top: 80px;
}

#ganador{
  background-color: rgba(224, 222, 6, 0.64);
  border-radius: 0px 0px 20px 20px;
  margin-top: 25px;

}

.easyMode, .hardMode {
  font-family: 'Russo One', sans-serif;
  font-size: 20px;
  color: black;
  margin-top: 50px;
  text-decoration: underline;

}
.resultados{
  margin-top: 50px;
}
.resultadosFinales {
  margin-top: 50px;
  padding-top: 80px;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.resultadosFinales h3{
  text-shadow: 0px 0px 15px white;
}

#resFinalP1, #resFinalP2 {
  font-family: 'Russo One', sans-serif;
  font-size: 25px;
  color: white;
  text-shadow: 0px 0px 10px white;
}
