*{

  box-sizing: border-box;
}

.container-fluid{
  padding-left: 50px !important;
  padding-right: 50px !important;
  padding-top: 30px;
}

h1{

}
h3{
  font-family: 'Russo One', sans-serif;
  font-size: 50px;
  color: black;

}
h4{
  font-family: 'Russo One', sans-serif;
  font-size: 22px !important;

}

.players {
  padding-top: 15px;
  background-color: black;
  box-shadow:  0px 0px 10px black;
}
#player1 {
  font-size: 20px;
  font-family: 'Russo One', sans-serif;
  color: white;
  text-shadow: 0px 0px 15px blue;
}

#player2 {
  font-size: 20px;
  font-family: 'Russo One', sans-serif;
  color: white;
  text-shadow: 0px 0px 15px red;
}


#gano a, #replica a{
  background: linear-gradient(0.60turn, red, blue) !important;
  position: relative;
  left: 50%;
  transform:translate(-50%);
  color: white;
  font-family: 'Russo One', sans-serif;
  box-shadow: 0px 5px 10px red, 0px 0px 15px blue, 0px 0px 15px blue;
  margin-top: 20px;
}

#ganador{

  margin-top: 15px;
  font-family: 'Russo One', sans-serif;
  color: white;
  text-shadow: 0px 0px 10px white;
}

.easyMode, .hardMode {
  font-family: 'Russo One', sans-serif;
  font-size: 20px;
  color: black;
  margin-top: 50px;
  text-decoration: underline;

}

.resultadosFinales {
  margin-top: 50px;
  padding-top: 80px;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.resultadosFinales h3{
  text-shadow: 0px 0px 15px white;
}

#resFinalP1, #resFinalP2 {
  font-family: 'Russo One', sans-serif;
  font-size: 25px;
  color: white;
  text-shadow: 0px 0px 10px white;
}

#chart1 {

  width: 100vw !important;
  height: 50vh !important;

}
#chart2{
  width: 90vw;
  height: 50vh;
}


.batallometro {
  width: 100%;

}

.h6-batallometro {
  font-family:'Russo One', sans-serif;
  font-size: 16px;
}

/* PROGRESS BAR*/

.progressBar {
    height: 35px;
    border-radius: 1em;
    margin:10px;
    font-size: 16px;
    font-family: 'Russo One', sans-serif;
    padding-right: 20px;
    padding-top: 5px;
    max-width: 90vw;
    background:
      linear-gradient(-45deg,
        rgba(255, 255, 255, 0.15) 25%,transparent 25%,
        transparent 50%, rgba(255, 255, 255, 0.15) 50%,
        rgba(255, 255, 255, 0.15) 75%,transparent 75%)
      left/30px 30px repeat-x,
      linear-gradient(to right, green 0%, yellow 50%, red 100%) left/var(--p,100%) fixed,
      lightgray;
  box-shadow:inset 0px -2px 5px rgba(0, 0, 0, 0.5);
  animation: change 1s linear infinite;


}
@keyframes change {
  from {background-position:0 0,left}
  to {background-position:30px 0,left}
}



/*  MEDIA QUERY */
@media only screen and (max-width: 450px) {
  #chart1 {
    width: auto;
  }
}
