*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
header {
  padding: 5px;
}
.titulo {
  font-family: 'Russo One', sans-serif;
  font-size: 50px;
  color: black;
}
.rapper1{

}
#rap1{
  font-size: 30px;
  font-family: 'Russo One', sans-serif;
  color: white;
  text-shadow: 0px 0px 12px blue;
}

.rapper2{

}
#rap2{
  font-size: 30px;
font-family: 'Russo One', sans-serif;
  color: white;
  text-shadow: 0px 0px 12px red;
}

select{
  background-color: grey;
  color: white;
  text-align-last: center;
  width: 55px;
  height: 38px;
  border: none;

}
.escenario{


}
.segundaRonda {
  padding-top: 100px;
}

#pSegundaRonda{
  z-index: 1;
  background-color: white;

}
.escenario select{
  margin-top: 15px;
position: relative;
left:50%;
transform: translate(-50%);

}
.final{
  width: auto;
  height: auto;
  background-color: rgba(68, 25, 242, 0.51);
}

.final select{
  margin-left: 25px;
  margin-right: 25px;
}
.tecnicas, .flow, .escena{
  margin-top: 5px;
  display: flex;
  padding-left: 5%;
  padding-right: 5%;
}

#volverMenu {

  max-width: 70%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}
